<section id="about">
    <div class="ap-images">
        <span class="ap ap-up"></span>
        <span class="ap ap-down"></span>
    </div>
    <div class="about-soft"></div>
    <div class="about-container">
        <div class="flex-column justify-content-center align-items-center">
            <h2 class="h1 text-white text-center">O nas </h2>
            <div class="d-flex justify-content-center text-white">
                <div class="about-text col-lg-8 px-md-0 px-3 col-11">
                    Tworzymy strony internetowe pod twój serwer Minecraft. Mamy doświadczonych programistów, którzy na co
                    dzień pracują nad rozwojem naszego itemshopu i stron serwerów. Pracowaliśmy z wieloma różnymi serwerami i
                    rozumiemy, co jest potrzebne do tworzenia witryn Minecraft. Dlaczego my?
                    Doświadczenie – rozwijamy się w stronach Minecraft od ponad 10 lat. Wymaga to ogromnej ilości niestandardowego
                    myślenia i nieszablonowego podejścia do pracy.
                    Kreatywność – jesteśmy nie tylko programistami, ale także projektantami gier i artystami,
                    którzy biorą od Was pomysły i wcielają je w życie.
                </div>
            </div>
        </div>
    </div>
</section>