<div class="demo-sites">
    <div class="shadow-lg position-fixed bottom-0 end-0 m-5 rounded-pill bg-white">
        <h5 class="text-center  m-3">
            Jesteś ciekaw jak wygląda produkt wejdź na <a href="https://demo.gamesites.pl" class="text-pink" target="_blank">demo.gamesites.pl</a>
        </h5>
    </div>
</div>