<section class="container-fluid text-white" id="main">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-6 col-sm-12 h-100 d-flex flex-column">
                <div class="d-flex justify-content-center h-100 flex-column">
                    <h1>Witaj na GameSites!</h1>
                    <h2>Tworzysz swój serwer i szukasz strony ze sklepem? Dobrze trafiłeś...</h2>
                    <h2>
                        <a href="{{ dc }}" class="text-white" target="_blank"><i class="fab fa-discord"></i></a>
                        <a href="{{ fb }}" class="text-white"><i class="fab fa-facebook-square"></i></a>
                    </h2>
                </div>
                <a href="#offer" class="text-white gs-arrow mb-5"><i class="fas fa-arrow-circle-down"></i></a>

            </div>
            <div class="col-lg-6 d-lg-flex d-none h-100 justify-content-center align-items-center">
                <img src="{{ asset('images/logo.png') }}" alt="Gamesites.pl Logo">
            </div>
        </div>
    </div>
</section>
