<section class="container-fluid text-white" id="main">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-6 col-sm-12 h-100 d-flex flex-column">
                <div class="d-flex justify-content-center h-100 flex-column">
                    <h1>Something is not yes ...</h1>
                    <h2>Podany adres nie istnieje, bądź został przeniesiony w inne miejsce.</h2>
                    <h2><a href="{{ dc }}" class="text-white"><i class="fab fa-discord"></i></a></h2>
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex d-none h-100 justify-content-center align-items-center">
                <img src="{{ asset('images/logo.png') }}" alt="Gamesites.pl Logo">
            </div>
        </div>
    </div>
</section>
