{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Zaktualizuj swoje dane adresowe</h1>
        <a href="{{ path('app_profile') }}" class="btn-danger btn">Powrót</a>
    </div>

    <div class="">
        {{ form(form) }}
    </div>
{% endblock %}