@import "bootstrap";
@import "overrride-bs.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

::-webkit-scrollbar-track {
    background: #651158;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0.3vw;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #130113;
    border-right-width: 0.3vw;
}

main {
    position: relative;
    min-height: calc(100vh - 48px);
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .fas {
    width: 20px;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: var(--hover);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-dark {
    background-color: var(--color-danger) !important;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.navbar .dropdown-menu {
    position: absolute;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* Ticket*/

.ticket-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
}

.comment, .comment-reply {
    display: block;
    position: relative;
    margin-bottom: 30px;
    margin-left: auto;
    border-radius: 15px;
    padding: 15px;
    min-width: 25%;
    max-width: 75%;
    width: max-content;
}

.comment-reply {
    margin-left: 0;
    margin-right: auto;
}

.comment-meta {
    font-size: 12px;
    color: var(--light);
}

.message-title {
    padding: 0.5rem;
    background: #9d4b8f;
    color: rgba(255, 255, 255, 0.55);
    z-index: 1;
    margin-top: 48px;
    margin-left: -1.5rem;
    text-align: center;
}

.message-title span {
    font-weight: bold;
}

.messages {
    height: 50%;
    overflow: auto;
    overflow-wrap: break-word;
}

@media (max-width: 767px) {
    .message-title {
        margin-left: -0.75rem;
    }
}

/*
 * Notifications
 */

#notification {
    flex-flow: column;
    gap: 10px;
}

#notification.show {
    display: flex;
}

.notification {
    position: relative;
    flex-wrap: wrap;
    width: 190px;
    font-size: 12px;
}

.notification-title {
    float: left;
    clear: left;
}

.notification-title:after {
    content: ': ';
}

.notification-content {
    word-wrap    : break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.notification-date {
    width: 100%;
    padding-bottom: 4px;
}

.notification-content, .notification-date {
    padding: 0 5px;
}

.notification-counter {
    background: #d34040;
    border-radius: 13px;
    height: 13px;
    width: 13px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7px;
    right: 35px;
}

/*
 * Global
 */

.border-color {
    border: 1px solid var(--color-danger);
    border-radius: 10px;
    padding: 15px;
}

.table {
    margin-top: 20px;
}

.table > :not(:first-child) {
    border-top: 1px solid currentColor;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgb(0 0 0 / 3%)
}

:root {
    --link-color: #FFFFFF;
    --link-hover-color: #c0a4b9;
    --hover: #661158;
    --sidebar-bg: #49093f;
    --active: #242526;
    --search: #EFEFEF;
    --light: #c2c2c2;

    --white: #FFFFFF;
    --row: #f8f9fd;
    --head: #eaecf8;
    --indigo-500: #661158;
    --color-info: #661158;
    --color-danger: #661158;
    --color-border-primary: #661158;

    --bg-light-rgb: rgb(0 0 0 / 3%)
}