<section id="about">
    <div class="ap-images">
        <span class="ap ap-up"></span>
        <span class="ap ap-down"></span>
    </div>
    <div class="about-soft"></div>
    <div class="about-container position-absolute">
        <div class="flex-column justify-content-center align-items-center">
            <h1 class="text-white text-center">O nas</h1>
            <div class="d-flex justify-content-center text-white">
                <div class="about-text col-lg-8 px-sm-3 col-12">
                    Tworzymy strony internetowe pod twój serwer Minecraft, mamy doświadczonych programistów, którzy na co
                    dzień pracują nad rozwojem naszych aplikacji. Pracowaliśmy z wieloma różnymi serwerami Minecraft i
                    rozumiemy, co jest potrzebne do tworzenia witryn Minecraft, z których mogą korzystać tysiące graczy
                    Tworzymy aplikacje na urządzenia z systemami iOS, Android, Windows i Mac OS X, w tym telefony komórkowe,
                    tablety, laptopy, komputery PC i nie tylko. Dlaczego my?
                    Doświadczenie – rozwijamy się w grach od ponad 10 lat. Wymaga to ogromnej ilości niestandardowego
                    myślenia i nieszablonowego podejścia do programowania.
                    Kreatywni – jesteśmy nie tylko programistami, ale także projektantami gier i artystami,
                    którzy biorą od Was pomysły i wcielają je w życie.
                </div>
            </div>
        </div>
    </div>
</section>