<div class="container-fluid bg-light mt-5 inner-padding">
    <div class="row">
        <h1 class="text-center mb-4">Jak to działa?</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 d-flex justify-content-between flex-column align-items-center">
                <h3>1. Przygotuj informacje</h3>
                <img src="{{ asset('images/works/create.png') }}" alt="wybór" width="275">
            </div>
            <div class="col-lg-4 col-md-12 d-flex justify-content-between flex-column align-items-center">
                <h3>2. Zapłać za zamówienia</h3>
                <img src="{{ asset('images/works/pay.png') }}" alt="płatność" width="320">
            </div>
            <div class="col-lg-4 col-md-12 d-flex justify-content-between flex-column align-items-center">
                <h3>3. Skonfiguruj aplikacje</h3>
                <img src="{{ asset('images/works/choose.png') }}" alt="konfiguracja" width="320" style="padding-bottom: 29px;">
            </div>
        </div>
    </div>
</div>