<section class="container-fluid inner-padding">
    <div class="row">
        <h1 class="text-center mb-4">Indywidualna aplikacja internetowa</h1>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center flex-column align-items-center text-center">
                Brakuje Ci indywidualnego wyglądu strony? Napisz do nas, a my wykonamy dla ciebie nowy, spersonalizowany
                szablon, według potrzeb. Wszystkie nasze usługi są wykonane w 100% przez nas.
                <a class="btn btn-primary btn-custom" href="https://discord.gg/cBREBuQgTT">
                    Poproś o wycenę
                </a>
            </div>
            <div class="col-lg-6 d-lg-flex  d-sm-none d-none justify-content-center">
                <img src="{{ asset('images/works/build.png') }}" alt="building man">
            </div>
        </div>
    </div>
</section>