<section class="container">
    <nav class="navbar navbar-expand-lg navbar-light p-2">
        <a class="navbar-brand position-relative" href="#">
            <img src="{{ asset('images/logo.png') }}" alt="" width="73" height="59">
            <div class="title">GameSites</div>
        </a>

        <div class="navbar-text">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</section>