<section class="container pt-5 mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h1 class="text-primary">Już dostępny!</h1>
            <h1>
                Nowoczesny system zarządzania stroną i sklepem twojego serwera! Sprawdź sam.
            </h1>
            <div class="main-text">
                Nasza oferta ciągle się rozwija, co miesiąc dodajemy nowe ciekawe funkcje, jesteśmy otwarci na prośby
                użytkowników. Jesteśmy zarejestrowaną, legalnie działającą firmą. Zaufaj nam, a my zaoferujemy najlepsze
                co mamy.

                <a class="btn btn-primary btn-custom" href="#offer">Nasza Oferta</a>

                lub <a href="https://discord.gg/cBREBuQgTT" class="text-primary">Poproś o indywidualną wycenę</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 d-lg-flex d-md-none d-sm-none d-none justify-content-end">
            <img src="{{ asset('images/accept-man.png') }}" alt="Accept man" height="369">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4 col-md-12 d-flex align-items-center">
            <img src="{{ asset('images/icons/shape2.png') }}" alt="celownik">
            <div class="text">
                <p class="normal">System stworzony dla graczy</p>
                <span class="small">Prosty i wygodny w obsłudze</span>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 d-flex align-items-center">
            <img src="{{ asset('images/icons/shape1.png') }}" alt="celownik">
            <div class="text">
                <p class="normal">Nowoczesne rozwiązania</p>
                <span class="small">Zobacz najnowsze technologie</span>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 d-flex align-items-center">
            <img src="{{ asset('images/icons/shape3.png') }}" alt="celownik">
            <div class="text">
                <p class="normal">Skalowalny według potrzeb</p>
                <span class="small">Dostosuj system pod siebie!</span>
            </div>
        </div>
    </div>
</section>
