<section class="container-fluid inner-padding">
    <div class="row">
        <h1 class="text-center mb-4">Partnerzy</h1>
    </div>

    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <img class="logo" src="{{ asset('images/partners/ovh.png') }}" height="78">
            <img class="logo" src="{{ asset('images/partners/cloudflare.png') }}" height="46">
            <img class="logo" src="{{ asset('images/partners/symfony.png') }}" height="84">
        </div>
    </div>
</section>