<section class="container-fluid inner-padding">
    <div class="row">
        <h1 class="text-center mb-4">Operatorzy płatności</h1>
    </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <img class="logo" src="{{ asset('images/payment/hotpay.png') }}" height="56">
            <img class="logo" src="{{ asset('images/payment/paypal.png') }}" height="74">
            <img class="logo" src="{{ asset('images/payment/paysafecard.png') }}" height="51">
        </div>
    </div>
</section>
