<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="theme-color" content="#7952b3">
    <meta charset="UTF-8">
    <title>Panel klienta | Gamesites.pl</title>
    {% include 'client/component/meta.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('dashboard') }}
    {% endblock %}
</head>
<body>
{% include 'dashboard/component/navbar.html.twig' %}

<div class="container-fluid">
    <div class="row">
        {% block full_window %}
        {% include 'dashboard/component/sidebar.html.twig' %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
            {% block body %}
            {% endblock %}
        </main>
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
</body>
</html>
