{% extends 'dashboard/base.html.twig' %}

{% block body %}
        <div class="h-100 d-flex justify-content-center align-items-center">
            <div class="w-50">
                <div class="d-flex justify-content-between pb-3"><h1>Workspace creation</h1></div>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}