{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">List dostępnych obszarów roboczych</h1>
        <a class="btn-danger btn" href="{{ path('app_workspace_create') }}">Dodaj obszar roboczy</a>
    </div>

    {% if workspaceList is empty %}
        <div class="pt-3 d-flex justify-content-center">
            <h1 class="h2">
                Brak dostępnych obszarów roboczych dla twojego konta
            </h1>
        </div>
    {% else %}
        <div class="table-responsive">
        <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
    {% endif %}
    {% for workspace in workspaceList %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ workspace.name }}</td>
            <td>
                <a href="{{ path('app_workspace_select', {'workspace': workspace.name}) }}" class="link-secondary me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Przełącz obszar roboczy"><i class="fas fa-play-circle"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}